{% extends "layout.html" %}

{% block heading %}
    First Page
{% endblock %}

{% block body %}
    <p>
        Duis nec diam pharetra metus convallis vestibulum. Morbi euismod odio mi, id vulputate nibh iaculis a. Nam id quam a diam blandit eleifend eget eget est. Nam at ultrices felis. Nam pretium lobortis est et iaculis. Cras eu felis ligula. Cras at leo a enim mollis consectetur. Pellentesque at dui hendrerit, cursus dui et, suscipit nunc.
    </p>
    
    <a href="{{ url_for('more') }}"> See more...</a>
{% endblock %}
