{% extends "layout.html" %}

{% block heading %}
    Second Page
{% endblock %}

{% block body %}
    <p>
        Donec ipsum lacus, tincidunt ut varius eget, mattis quis lorem. Quisque tristique, ante et iaculis lacinia, nisi est luctus nunc, nec rutrum mi nunc ut nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed consequat diam at dolor volutpat, semper aliquet dui vulputate. Vestibulum accumsan sollicitudin purus, et viverra quam mollis ac. Aliquam tempor odio quis leo scelerisque rhoncus. Curabitur molestie, neque sed vestibulum tempus, sem lorem aliquet lacus, eget euismod odio neque nec tortor. Donec vel nibh sit amet neque interdum maximus vitae ut nulla. Morbi rutrum mi a tempus congue.
    </p>
    
    <a href="{{ url_for('index') }}"> Go back</a>
{% endblock %}
